*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.Logo{
    height: 55px;
}
.mapa{
    height: 700px;
}
body{
    background-color: white;
    font-family: 'BenchNine', sans-serif;
    font-size: xx-large;
}
header{
    font-size: large;
}
.navbar-brand{
    font-size: larger;
}
.imagen1:hover{
    transform: scale(105%);
}
.imagen2:hover{
    transform: scale(105%);
}
.imagen3:hover{
    transform: scale(105%);
}
.imagen4:hover{
    transform: scale(105%);
}
.imagen5:hover{
    transform: scale(105%);
}
.imagen6:hover{
    transform: scale(105%);
}
.imagen7:hover{
    transform: scale(105%);
}
.imagen8:hover{
    transform: scale(105%);
}
.banner{
    width: 2000px;
}
.dropdown-item{
    font-size: larger;
}
p{
    text-align: center;
}
.btn-primary{
    font-size: 25px;
}
.color1{
    color: rgb(251 80 0);
}
